#main{
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    background-color: #FEFBE9;
    
}
#list-items{
    display: inline-block;
    text-align: left;
}
#image{
    position: relative;
    max-width: 100%;
    height: auto;
}
img{
    display: block;
    margin-right: auto;
    margin-left:auto;
    height:auto;
    width: auto;
}